.edit-blog, .edit-photos {
  max-width: 100%;
  margin: auto;
  text-align: center;
  background-color: #1A1A1A;
}

.edit-photos {
  padding: 25px 0 50px;
}

.edit-blog {
  padding-top: 25px;
}

.h2 {
  font-size: 30px;
}

.edit-blog input, .edit-blog textarea, .edit-blog p, .edit-photos input, .edit-photos p {
  display: block;
  margin: 5px auto;
  width: 80%;
  padding: 20px;
  border: none;
  border-radius: 2px;
}

.edit-blog input, .edit-blog textarea, .edit-photos input {
  background-color: black;
  border-bottom: 1px solid #2e2e2e;
  box-shadow: 0px 2px 2px #1a1a1a inset;
  color: #999;
}

.edit-blog textarea {
  height: 250px;
}

.edit-blog p, .edit-photos p {
  text-align: left;
  padding-left: 0px;
  padding-bottom: 0px;
}

.edit-blog button {
  margin: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #D0ECEE;
  border: none;
}

.link-cont {
  margin: 40px;
  text-align: center;
}

.edit-travel-link, .edit-photo-link {
  margin: 20px;
  font-family: 'Lato', sans-serif;
  color: lightgrey;
  text-decoration: none;
  font-weight: 100;
  transition: all .5s ease-in;
}

.edit-travel-link:hover, .edit-photo-link:hover {
  color: grey;
}

.active {
  color: grey;
}

input[type=date] {
    color: #999;
}
