.banner {
  width: 90%;
  height: 500px;
  text-align: center;
  margin: auto;
}

.name-cont {
  margin: 100px 0 50px 0;
}

.name {
  color: lightgrey;
  font-weight: 100;
  font-size: 180px;
  letter-spacing: 20px;
}

.motto {
  color: #DEBA80;
  font-weight: 100;
  font-size: 23px;
  letter-spacing: 5px;
  word-spacing: 10px;
}
