nav {
  margin: 50px 0 50px 0;
}

ol, ul {
  padding-left: none;
  text-align: center;
}

li {
  display: inline-block;
}

.nav {
  color: lightgrey;
  text-decoration: none;
  font-weight: 100;
  margin: 0 20px;
  font-size: 15px;
  transition: all .5s ease-in;
}

.nav:hover {
  letter-spacing: 1px;
  font-size: 16px;
}
