.entry {
  max-width: 800px;
  margin: 50px auto 125px;
}

.entry-photo {
  max-width: 800px;
}

.entry-title {
  font-weight: 300;
  font-size: 38px;
  color: lightgrey;
  margin: 10px 0;
}

.entry-date {
  font-weight: 100;
  font-size: 15px;
  text-indent: 5px;
  color: grey;
}

.entry-content {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  color: lightgrey;
}

.read-more {
  color: #EB6649;
  text-decoration: none;
  font-weight: 300;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.entry-btn {
  float: right;
}

@media (max-width: 800px) {
  .entry, .entry-photo {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .entry {
    margin: 50px auto 75px;
  }

  .entry, .entry-photo {
    max-width: 100%
  }
}
