.photo-cont {
  max-width: 800px;
  margin: 50px auto 125px;
}

.photo {
  max-width: 800px;
}

.photo-del {
  float: right;
}

@media (max-width: 800px) {
  .photo-cont {
    margin: 50px auto;
  }

  .photo, .photo-cont {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .photo-cont {
    margin: 50px auto;
  }

  .photo, .photo-cont {
    max-width: 100%
  }
}
